# DATA PRE PROCESSING

### Importing Libraries

In [374]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Importing Dataset

In [390]:
dataset = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [397]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [402]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [400]:
x = dataset.iloc[:, 5].values
y = dataset.iloc[:, 1].values

### Checking if there are empty values

In [378]:
# Checking for empty values on the feature and its size relative to the total number of data as this can affect the performance of the model.
no_of_nan = dataset["Age"].isna().sum()
total_row = len(x)
x_nan = (no_of_nan / total_row) * 100

print("The total number of nan values on column 'Age' is "+ str(no_of_nan))
print("The total number of data or obeservation is " + str(total_row))
print("The percentage of nana values on Column 'Age' is " + str("%.2f" % x_nan) + "%")

The total number of nan values on column 'Age' is 177
The total number of data or obeservation is 891
The percentage of nana values on Column 'Age' is 19.87%

In [379]:
x = x.reshape(-1, 1)
y = y.reshape(-1, 1)

### Substituting the Missing Values

In [380]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy='mean')
imputer.fit(x)
x = imputer.transform(x)

In [381]:
x.ndim

2

### Splitting the dataset into the Training set and Test set

In [382]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

### Feature Scaling

In [383]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

# TRAINING THE MODEL

In [384]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

# PREDICTING TEST RESULTS

In [385]:
print(classifier.predict(sc.transform([[60]])))

[0]

### Predicting the Test Set Results

In [388]:
y_pred = classifier.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 1]
 [1 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 0]
 [0 1]
 [0 1]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 1]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [1 0]
 [0 1]
 [0 1]
 [0 0]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 1]
 [0 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]]

# EVALUATING MODEL PERFORMANCE

### Making Confusion Matrix

In [389]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[102   8]
 [ 57  12]]

0.6368715083798883

### PREPARING FOR TEST DATA RESULT SUBMISSION

In [429]:
test_var = test.iloc[:,4].values
test_id = test.iloc[:, 0].values

In [430]:
test_var = test_var.reshape(-1, 1)

In [431]:
imputer = SimpleImputer(missing_values = np.nan, strategy='mean')
imputer.fit(test_var)
test_var = imputer.transform(test_var)

In [432]:
test_var

array([[34.5 ],
       [47.  ],
       [62.  ],
       [27.  ],
       [22.  ],
       [14.  ],
       [30.  ],
       [26.  ],
       [18.  ],
       [21.  ],
       [30.27],
       [46.  ],
       [23.  ],
       [63.  ],
       [47.  ],
       [24.  ],
       [35.  ],
       [21.  ],
       [27.  ],
       [45.  ],
       [55.  ],
       [ 9.  ],
       [30.27],
       [21.  ],
       [48.  ],
       [50.  ],
       [22.  ],
       [22.5 ],
       [41.  ],
       [30.27],
       [50.  ],
       [24.  ],
       [33.  ],
       [30.27],
       [30.  ],
       [18.5 ],
       [30.27],
       [21.  ],
       [25.  ],
       [30.27],
       [39.  ],
       [30.27],
       [41.  ],
       [30.  ],
       [45.  ],
       [25.  ],
       [45.  ],
       [30.27],
       [60.  ],
       [36.  ],
       [24.  ],
       [27.  ],
       [20.  ],
       [28.  ],
       [30.27],
       [10.  ],
       [35.  ],
       [25.  ],
       [30.27],
       [36.  ],
       [17.  ],
       [32.  ],
       [18.  ],
       [22.  ],
       [13.  ],
       [30.27],
       [18.  ],
       [47.  ],
       [31.  ],
       [60.  ],
       [24.  ],
       [21.  ],
       [29.  ],
       [28.5 ],
       [35.  ],
       [32.5 ],
       [30.27],
       [55.  ],
       [30.  ],
       [24.  ],
       [ 6.  ],
       [67.  ],
       [49.  ],
       [30.27],
       [30.27],
       [30.27],
       [27.  ],
       [18.  ],
       [30.27],
       [ 2.  ],
       [22.  ],
       [30.27],
       [27.  ],
       [30.27],
       [25.  ],
       [25.  ],
       [76.  ],
       [29.  ],
       [20.  ],
       [33.  ],
       [43.  ],
       [27.  ],
       [30.27],
       [26.  ],
       [16.  ],
       [28.  ],
       [21.  ],
       [30.27],
       [30.27],
       [18.5 ],
       [41.  ],
       [30.27],
       [36.  ],
       [18.5 ],
       [63.  ],
       [18.  ],
       [30.27],
       [ 1.  ],
       [36.  ],
       [29.  ],
       [12.  ],
       [30.27],
       [35.  ],
       [28.  ],
       [30.27],
       [17.  ],
       [22.  ],
       [30.27],
       [42.  ],
       [24.  ],
       [32.  ],
       [53.  ],
       [30.27],
       [30.27],
       [43.  ],
       [24.  ],
       [26.5 ],
       [26.  ],
       [23.  ],
       [40.  ],
       [10.  ],
       [33.  ],
       [61.  ],
       [28.  ],
       [42.  ],
       [31.  ],
       [30.27],
       [22.  ],
       [30.27],
       [30.  ],
       [23.  ],
       [30.27],
       [60.5 ],
       [36.  ],
       [13.  ],
       [24.  ],
       [29.  ],
       [23.  ],
       [42.  ],
       [26.  ],
       [30.27],
       [ 7.  ],
       [26.  ],
       [30.27],
       [41.  ],
       [26.  ],
       [48.  ],
       [18.  ],
       [30.27],
       [22.  ],
       [30.27],
       [27.  ],
       [23.  ],
       [30.27],
       [40.  ],
       [15.  ],
       [20.  ],
       [54.  ],
       [36.  ],
       [64.  ],
       [30.  ],
       [37.  ],
       [18.  ],
       [30.27],
       [27.  ],
       [40.  ],
       [21.  ],
       [17.  ],
       [30.27],
       [40.  ],
       [34.  ],
       [30.27],
       [11.5 ],
       [61.  ],
       [ 8.  ],
       [33.  ],
       [ 6.  ],
       [18.  ],
       [23.  ],
       [30.27],
       [30.27],
       [ 0.33],
       [47.  ],
       [ 8.  ],
       [25.  ],
       [30.27],
       [35.  ],
       [24.  ],
       [33.  ],
       [25.  ],
       [32.  ],
       [30.27],
       [17.  ],
       [60.  ],
       [38.  ],
       [42.  ],
       [30.27],
       [57.  ],
       [50.  ],
       [30.27],
       [30.  ],
       [21.  ],
       [22.  ],
       [21.  ],
       [53.  ],
       [30.27],
       [23.  ],
       [30.27],
       [40.5 ],
       [36.  ],
       [14.  ],
       [21.  ],
       [21.  ],
       [30.27],
       [39.  ],
       [20.  ],
       [64.  ],
       [20.  ],
       [18.  ],
       [48.  ],
       [55.  ],
       [45.  ],
       [45.  ],
       [30.27],
       [30.27],
       [41.  ],
       [22.  ],
       [42.  ],
       [29.  ],
       [30.27],
       [ 0.92],
       [20.  ],
       [27.  ],
       [24.  ],
       [32.5 ],
       [30.27],
       [30.27],
       [28.  ],
       [19.  ],
       [21.  ],
       [36.5 ],
       [21.  ],
       [29.  ],
       [ 1.  ],
       [30.  ],
       [30.27],
       [30.27],
       [30.27],
       [30.27],
       [17.  ],
       [46.  ],
       [30.27],
       [26.  ],
       [30.27],
       [30.27],
       [20.  ],
       [28.  ],
       [40.  ],
       [30.  ],
       [22.  ],
       [23.  ],
       [ 0.75],
       [30.27],
       [ 9.  ],
       [ 2.  ],
       [36.  ],
       [30.27],
       [24.  ],
       [30.27],
       [30.27],
       [30.27],
       [30.  ],
       [30.27],
       [53.  ],
       [36.  ],
       [26.  ],
       [ 1.  ],
       [30.27],
       [30.  ],
       [29.  ],
       [32.  ],
       [30.27],
       [43.  ],
       [24.  ],
       [30.27],
       [64.  ],
       [30.  ],
       [ 0.83],
       [55.  ],
       [45.  ],
       [18.  ],
       [22.  ],
       [30.27],
       [37.  ],
       [55.  ],
       [17.  ],
       [57.  ],
       [19.  ],
       [27.  ],
       [22.  ],
       [26.  ],
       [25.  ],
       [26.  ],
       [33.  ],
       [39.  ],
       [23.  ],
       [12.  ],
       [46.  ],
       [29.  ],
       [21.  ],
       [48.  ],
       [39.  ],
       [30.27],
       [19.  ],
       [27.  ],
       [30.  ],
       [32.  ],
       [39.  ],
       [25.  ],
       [30.27],
       [18.  ],
       [32.  ],
       [30.27],
       [58.  ],
       [30.27],
       [16.  ],
       [26.  ],
       [38.  ],
       [24.  ],
       [31.  ],
       [45.  ],
       [25.  ],
       [18.  ],
       [49.  ],
       [ 0.17],
       [50.  ],
       [59.  ],
       [30.27],
       [30.27],
       [30.  ],
       [14.5 ],
       [24.  ],
       [31.  ],
       [27.  ],
       [25.  ],
       [30.27],
       [30.27],
       [22.  ],
       [45.  ],
       [29.  ],
       [21.  ],
       [31.  ],
       [49.  ],
       [44.  ],
       [54.  ],
       [45.  ],
       [22.  ],
       [21.  ],
       [55.  ],
       [ 5.  ],
       [30.27],
       [26.  ],
       [30.27],
       [19.  ],
       [30.27],
       [24.  ],
       [24.  ],
       [57.  ],
       [21.  ],
       [ 6.  ],
       [23.  ],
       [51.  ],
       [13.  ],
       [47.  ],
       [29.  ],
       [18.  ],
       [24.  ],
       [48.  ],
       [22.  ],
       [31.  ],
       [30.  ],
       [38.  ],
       [22.  ],
       [17.  ],
       [43.  ],
       [20.  ],
       [23.  ],
       [50.  ],
       [30.27],
       [ 3.  ],
       [30.27],
       [37.  ],
       [28.  ],
       [30.27],
       [39.  ],
       [38.5 ],
       [30.27],
       [30.27]])

In [433]:
submission_preds = classifier.predict(test_var)

In [434]:
submission_preds

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [436]:
df = pd.DataFrame({"PassengerId":test_id, "Survived":submission_preds,})

In [439]:
df

     PassengerId  Survived
0            892         1
1            893         1
2            894         1
3            895         1
4            896         1
..           ...       ...
413         1305         1
414         1306         1
415         1307         1
416         1308         1
417         1309         1

[418 rows x 2 columns]

In [441]:
df.to_csv('Submission.csv', index=False)